{% load static %}
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">

        <!-- Profile Image -->
        <div class="card card-danger card-outline">
          <div class="card-body box-profile">
            <div class="position-relative w-100 mb-3" style="cursor: pointer;" data-toggle="modal" data-target="#modal-profile-pic">
              <img class="profile-user-img img-fluid img-circle mx-auto d-block"
                   {% if student.picture %}
                     src="{{ student.picture.url }}"
                   {% elif student.gender == 'M' %}
                     src="{% static 'dist/img/avatar.png' %}"
                   {% elif student.gender == 'F' %}
                     src="{% static 'dist/img/avatar2.png' %}"
                   {% else %}
                     src="{% static 'dist/img/default_user.png' %}"
                   {% endif %}
                   alt="User profile picture"
                   id="profile-image-display">

              <!-- Ícono de lápiz -->
              <span class="position-absolute" style="bottom: 2px; right: calc(50% - 45px);">
                <i class="fas fa-pencil-alt bg-white text-primary rounded-circle p-1 border border-secondary shadow-sm"></i>
              </span>
            </div>

            <h3 class="profile-username text-center">{{ student.first_name }} {{ student.last_name }}</h3>

            <p class="text-muted text-center">
              <span class="level-circle level-{{ student.level|lower }}"></span>
              {{ student.get_level_display }} - {{ student.get_category_display }}
            </p>

            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b>Gender</b> <a class="float-right">{{ student.get_gender_display }}</a>
              </li>
              <li class="list-group-item">
                <b>Birth Date</b> <a class="float-right">{{ student.birth_date }}</a>
              </li>
              <li class="list-group-item">
                <b>Status</b> <a class="float-right">
                  {% if student.is_active %}
                    <span class="badge badge-success">Active</span>
                  {% else %}
                    <span class="badge badge-danger">Inactive</span>
                  {% endif %}
                </a>
              </li>
              <li class="list-group-item text-center">
                <img src="{{ qr_code }}" alt="qr code" class="img-fluid" style="max-width: 100%">
              </li>
            </ul>
{#              <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>#}
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- About Me Box -->
        <div class="card card-danger">
          <div class="card-header">
            <h3 class="card-title">About {{ student.first_name }} {{ student.last_name }}</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">

            <strong><i class="fas fa-phone-alt mr-1"></i> Contact</strong>
            <p class="text-muted">
              <span class="tag tag-danger"><b>Phone:</b> {{ student.phone_number }}</span><br>
              <span class="tag tag-danger"><b>Email:</b> {{ student.email }}</span><br>
              <span class="tag tag-danger"><b>Address:</b> {{ student.address }}</span><br>
              <span class="tag tag-danger"><b>EPS:</b> {{ student.eps }}</span><br>
              {% if student.parent %}
                <span class="tag tag-danger">{{ student.parent }}</span><br>
                <span class="tag tag-danger">{{ student.parent_phone_number }}</span><br>
              {% endif %}
            </p>
            <hr>

            <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
            <p class="text-muted">{{ student.city }}, {{ student.country }}</p>
            <hr>

            <strong><i class="fas fa-book mr-1"></i> Education</strong>
            <p class="text-muted">{{ student.profession }}</p>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
{#              <li class="nav-item"><a class="nav-link" href="#activity" data-toggle="tab">Activity</a></li>#}
{#              <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Timeline</a></li>#}
              <li class="nav-item"><a class="nav-link active" href="#info" data-toggle="tab">Info</a></li>
              <li class="nav-item"><a class="nav-link" href="#docs" data-toggle="tab">Docs</a></li>
              <li class="nav-item"><a class="nav-link" href="#password" data-toggle="tab">Change Password</a></li>
            </ul>
          </div><!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">
{#              <div class="tab-pane" id="activity">#}
{#                <!-- Post -->#}
{#                <div class="post">#}
{#                  <div class="user-block">#}
{#                    <img class="img-circle img-bordered-sm" src="{% static 'dist/img/user1-128x128.jpg' %}" alt="user image">#}
{#                    <span class="username">#}
{#                      <a href="#">Jonathan Burke Jr.</a>#}
{#                      <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>#}
{#                    </span>#}
{#                    <span class="description">Shared publicly - 7:30 PM today</span>#}
{#                  </div>#}
{#                  <!-- /.user-block -->#}
{#                  <p>#}
{#                    Lorem ipsum represents a long-held tradition for designers,#}
{#                    typographers and the like. Some people hate it and argue for#}
{#                    its demise, but others ignore the hate as they create awesome#}
{#                    tools to help create filler text for everyone from bacon lovers#}
{#                    to Charlie Sheen fans.#}
{#                  </p>#}
{##}
{#                  <p>#}
{#                    <a href="#" class="link-black text-sm mr-2"><i class="fas fa-share mr-1"></i> Share</a>#}
{#                    <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Like</a>#}
{#                    <span class="float-right">#}
{#                      <a href="#" class="link-black text-sm">#}
{#                        <i class="far fa-comments mr-1"></i> Comments (5)#}
{#                      </a>#}
{#                    </span>#}
{#                  </p>#}
{##}
{#                  <input class="form-control form-control-sm" type="text" placeholder="Type a comment">#}
{#                </div>#}
{#                <!-- /.post -->#}
{##}
{#                <!-- Post -->#}
{#                <div class="post clearfix">#}
{#                  <div class="user-block">#}
{#                    <img class="img-circle img-bordered-sm" src="../../dist/img/user7-128x128.jpg" alt="User Image">#}
{#                    <span class="username">#}
{#                      <a href="#">Sarah Ross</a>#}
{#                      <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>#}
{#                    </span>#}
{#                    <span class="description">Sent you a message - 3 days ago</span>#}
{#                  </div>#}
{#                  <!-- /.user-block -->#}
{#                  <p>#}
{#                    Lorem ipsum represents a long-held tradition for designers,#}
{#                    typographers and the like. Some people hate it and argue for#}
{#                    its demise, but others ignore the hate as they create awesome#}
{#                    tools to help create filler text for everyone from bacon lovers#}
{#                    to Charlie Sheen fans.#}
{#                  </p>#}
{##}
{#                  <form class="form-horizontal">#}
{#                    <div class="input-group input-group-sm mb-0">#}
{#                      <input class="form-control form-control-sm" placeholder="Response">#}
{#                      <div class="input-group-append">#}
{#                        <button type="submit" class="btn btn-danger">Send</button>#}
{#                      </div>#}
{#                    </div>#}
{#                  </form>#}
{#                </div>#}
{#                <!-- /.post -->#}
{##}
{#                <!-- Post -->#}
{#                <div class="post">#}
{#                  <div class="user-block">#}
{#                    <img class="img-circle img-bordered-sm" src="../../dist/img/user6-128x128.jpg" alt="User Image">#}
{#                    <span class="username">#}
{#                      <a href="#">Adam Jones</a>#}
{#                      <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>#}
{#                    </span>#}
{#                    <span class="description">Posted 5 photos - 5 days ago</span>#}
{#                  </div>#}
{#                  <!-- /.user-block -->#}
{#                  <div class="row mb-3">#}
{#                    <div class="col-sm-6">#}
{#                      <img class="img-fluid" src="../../dist/img/photo1.png" alt="Photo">#}
{#                    </div>#}
{#                    <!-- /.col -->#}
{#                    <div class="col-sm-6">#}
{#                      <div class="row">#}
{#                        <div class="col-sm-6">#}
{#                          <img class="img-fluid mb-3" src="../../dist/img/photo2.png" alt="Photo">#}
{#                          <img class="img-fluid" src="../../dist/img/photo3.jpg" alt="Photo">#}
{#                        </div>#}
{#                        <!-- /.col -->#}
{#                        <div class="col-sm-6">#}
{#                          <img class="img-fluid mb-3" src="../../dist/img/photo4.jpg" alt="Photo">#}
{#                          <img class="img-fluid" src="../../dist/img/photo1.png" alt="Photo">#}
{#                        </div>#}
{#                        <!-- /.col -->#}
{#                      </div>#}
{#                      <!-- /.row -->#}
{#                    </div>#}
{#                    <!-- /.col -->#}
{#                  </div>#}
{#                  <!-- /.row -->#}
{##}
{#                  <p>#}
{#                    <a href="#" class="link-black text-sm mr-2"><i class="fas fa-share mr-1"></i> Share</a>#}
{#                    <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Like</a>#}
{#                    <span class="float-right">#}
{#                      <a href="#" class="link-black text-sm">#}
{#                        <i class="far fa-comments mr-1"></i> Comments (5)#}
{#                      </a>#}
{#                    </span>#}
{#                  </p>#}
{##}
{#                  <input class="form-control form-control-sm" type="text" placeholder="Type a comment">#}
{#                </div>#}
{#                <!-- /.post -->#}
{#              </div>#}
{#              <!-- /.tab-pane -->#}
{#              <div class="tab-pane" id="timeline">#}
{#                <!-- The timeline -->#}
{#                <div class="timeline timeline-inverse">#}
{#                  <!-- timeline time label -->#}
{#                  <div class="time-label">#}
{#                    <span class="bg-danger">#}
{#                      10 Feb. 2014#}
{#                    </span>#}
{#                  </div>#}
{#                  <!-- /.timeline-label -->#}
{#                  <!-- timeline item -->#}
{#                  <div>#}
{#                    <i class="fas fa-envelope bg-primary"></i>#}
{##}
{#                    <div class="timeline-item">#}
{#                      <span class="time"><i class="far fa-clock"></i> 12:05</span>#}
{##}
{#                      <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>#}
{##}
{#                      <div class="timeline-body">#}
{#                        Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,#}
{#                        weebly ning heekya handango imeem plugg dopplr jibjab, movity#}
{#                        jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle#}
{#                        quora plaxo ideeli hulu weebly balihoo...#}
{#                      </div>#}
{#                      <div class="timeline-footer">#}
{#                        <a href="#" class="btn btn-primary btn-sm">Read more</a>#}
{#                        <a href="#" class="btn btn-danger btn-sm">Delete</a>#}
{#                      </div>#}
{#                    </div>#}
{#                  </div>#}
{#                  <!-- END timeline item -->#}
{#                  <!-- timeline item -->#}
{#                  <div>#}
{#                    <i class="fas fa-user bg-info"></i>#}
{##}
{#                    <div class="timeline-item">#}
{#                      <span class="time"><i class="far fa-clock"></i> 5 mins ago</span>#}
{##}
{#                      <h3 class="timeline-header border-0"><a href="#">Sarah Young</a> accepted your friend request#}
{#                      </h3>#}
{#                    </div>#}
{#                  </div>#}
{#                  <!-- END timeline item -->#}
{#                  <!-- timeline item -->#}
{#                  <div>#}
{#                    <i class="fas fa-comments bg-warning"></i>#}
{##}
{#                    <div class="timeline-item">#}
{#                      <span class="time"><i class="far fa-clock"></i> 27 mins ago</span>#}
{##}
{#                      <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>#}
{##}
{#                      <div class="timeline-body">#}
{#                        Take me to your leader!#}
{#                        Switzerland is small and neutral!#}
{#                        We are more like Germany, ambitious and misunderstood!#}
{#                      </div>#}
{#                      <div class="timeline-footer">#}
{#                        <a href="#" class="btn btn-warning btn-flat btn-sm">View comment</a>#}
{#                      </div>#}
{#                    </div>#}
{#                  </div>#}
{#                  <!-- END timeline item -->#}
{#                  <!-- timeline time label -->#}
{#                  <div class="time-label">#}
{#                    <span class="bg-success">#}
{#                      3 Jan. 2014#}
{#                    </span>#}
{#                  </div>#}
{#                  <!-- /.timeline-label -->#}
{#                  <!-- timeline item -->#}
{#                  <div>#}
{#                    <i class="fas fa-camera bg-purple"></i>#}
{##}
{#                    <div class="timeline-item">#}
{#                      <span class="time"><i class="far fa-clock"></i> 2 days ago</span>#}
{##}
{#                      <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>#}
{##}
{#                      <div class="timeline-body">#}
{#                        <img src="https://placehold.it/150x100" alt="...">#}
{#                        <img src="https://placehold.it/150x100" alt="...">#}
{#                        <img src="https://placehold.it/150x100" alt="...">#}
{#                        <img src="https://placehold.it/150x100" alt="...">#}
{#                      </div>#}
{#                    </div>#}
{#                  </div>#}
{#                  <!-- END timeline item -->#}
{#                  <div>#}
{#                    <i class="far fa-clock bg-gray"></i>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#              <!-- /.tab-pane -->#}
              <div class="tab-pane active" id="info">
                <form method="post" class="form-horizontal"
                    {% if 'student/profile' in request.path %}
                      action="{% url 'profile' %}"
                    {% elif 'manage_profile/' in request.path %}
                      action="{% url 'manage_profile' student.id %}"
                    {% endif %}>
                  {% csrf_token %}
                  {% for field in form %}
                    <div class="form-group row">
                      <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
                      <div class="col-sm-10">
                        {{ field }}
                        {% for error in field.errors %}
                          <div class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
                            <i class="icon fas fa-ban"></i> {{ error }}
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  {% endfor %}
                  <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                      <button type="submit" class="btn btn-danger">Update</button>
                      {% if 'manage_profile/' in request.path and user.pk != student.pk%}
                        <div class="btn btn-dark float-right ml-1" data-toggle="modal" data-target="#modal-user-delete">Delete</div>
                        <div class="btn btn-dark float-right" data-toggle="modal" data-target="#modal-user-switch-status">
                        {% if student.is_active %}
                          Deactivate
                        {% else %}
                          Activate
                        {% endif %}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="docs">
                <!-- Upload Form Card -->
                <div class="card card-danger card-outline">
                  <div class="card-header">
                    <h3 class="card-title">
                      <i class="fas fa-cloud-upload-alt"></i> Upload Documents
                    </h3>
                  </div>
                  <div class="card-body">
                    <form method="post" enctype="multipart/form-data" id="upload-docs-form">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="id_document_type">
                          <i class="fas fa-tag"></i> Document Type
                        </label>
                        {{ docs_form.document_type }}
                      </div>

                      <div class="form-group">
                        <label for="id_title">
                          <i class="fas fa-heading"></i> Title
                        </label>
                        {{ docs_form.title }}
                      </div>

                      <div class="form-group">
                        <label for="id_description">
                          <i class="fas fa-align-left"></i> Description
                        </label>
                        {{ docs_form.description }}
                      </div>

                      <div class="form-group">
                        <label>
                          <i class="fas fa-file"></i> Select Files
                        </label>
                        <div class="custom-file">
                          <input type="file" name="files" class="custom-file-input" id="customFile" multiple>
                          <label class="custom-file-label" for="customFile">Choose files...</label>
                        </div>
                        <small class="form-text text-muted">
                          You can select multiple files. Accepted formats: PDF, DOC, DOCX, JPG, PNG
                        </small>
                      </div>

                      <input type="hidden" name="action" value="docs">
                      <button type="submit" class="btn btn-danger">
                        <i class="fas fa-upload"></i> Upload Documents
                      </button>
                    </form>
                  </div>
                </div>

                <!-- Documents List -->
                <div class="card card-danger card-outline mt-3">
                  <div class="card-header">
                    <h3 class="card-title">
                      <i class="fas fa-folder-open"></i> My Documents
                    </h3>
                    <div class="card-tools">
                      <span class="badge badge-danger">{{ user.documents.count }}</span>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    {% if user.documents.all %}
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th style="width: 10px">#</th>
                            <th>Type</th>
                            <th>Title</th>
                            <th>Uploaded</th>
                            <th style="width: 150px">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for doc in user.documents.all %}
                            <tr>
                              <td>
                                {% if doc.document_type == 'DI' %}
                                  <i class="fas fa-graduation-cap text-success"></i>
                                {% elif doc.document_type == 'CE' %}
                                  <i class="fas fa-certificate text-warning"></i>
                                {% elif doc.document_type == 'ME' %}
                                  <i class="fas fa-notes-medical text-info"></i>
                                {% elif doc.document_type == 'ID' %}
                                  <i class="fas fa-id-card text-primary"></i>
                                {% elif doc.document_type == 'PP' %}
                                  <i class="fas fa-receipt text-success"></i>
                                {% else %}
                                  <i class="fas fa-file text-secondary"></i>
                                {% endif %}
                              </td>
                              <td>
                                <span class="badge
                                  {% if doc.document_type == 'DI' %}badge-success
                                  {% elif doc.document_type == 'CE' %}badge-warning
                                  {% elif doc.document_type == 'ME' %}badge-info
                                  {% elif doc.document_type == 'ID' %}badge-primary
                                  {% elif doc.document_type == 'PP' %}badge-success
                                  {% else %}badge-secondary{% endif %}">
                                  {{ doc.get_document_type_display }}
                                </span>
                              </td>
                              <td>
                                <strong>{{ doc.title }}</strong>
                                {% if doc.description %}
                                  <br><small class="text-muted">{{ doc.description|truncatewords:10 }}</small>
                                {% endif %}
                              </td>
                              <td>
                                <small>
                                  <i class="far fa-calendar-alt"></i> {{ doc.uploaded_at|date:"M d, Y" }}<br>
                                  <i class="far fa-clock"></i> {{ doc.uploaded_at|date:"g:i A" }}
                                </small>
                              </td>
                              <td>
                                <a href="{{ doc.file.url }}" target="_blank" class="btn btn-sm btn-primary" title="View">
                                  <i class="fas fa-eye"></i>
                                </a>
                                <a href="{{ doc.file.url }}" download class="btn btn-sm btn-success" title="Download">
                                  <i class="fas fa-download"></i>
                                </a>
                                <button type="button" class="btn btn-sm btn-danger" title="Delete" onclick="deleteDocument({{ doc.id }})">
                                  <i class="fas fa-trash"></i>
                                </button>
                              </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    {% else %}
                      <div class="p-4 text-center text-muted">
                        <i class="fas fa-folder-open fa-3x mb-3"></i>
                        <p>No documents uploaded yet.</p>
                        <p>Use the form above to upload your first document.</p>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="password">
                <form method="post" class="form-horizontal"
                    {% if 'student/profile' in request.path %}
                      action="{% url 'profile' %}"
                    {% elif 'manage_profile/' in request.path %}
                      action="{% url 'manage_profile' student.id %}"
                    {% endif %}>
                  {% csrf_token %}
                  <input type="hidden" name="action" value="change_password">
                  {% for field in password_form %}
                    <div class="form-group row">
                      <label for="{{ field.id_for_label }}" class="col-sm-3 col-form-label">{{ field.label }}</label>
                      <div class="col-sm-9">
                        {{ field }}
                        {% for error in field.errors %}
                          <div class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
                            <i class="icon fas fa-ban"></i> {{ error }}
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  {% endfor %}
                  <div class="form-group row">
                    <div class="offset-sm-3 col-sm-9">
                      <button type="submit" class="btn btn-danger">Change Password</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div><!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
  {% include 'dashboard/common/modal_user_update_profile_pic.html' %}
  {% if 'manage_profile/' in request.path and user.pk != student.pk %}
    {% include 'dashboard/common/modal_user_delete.html' %}
    {% include 'dashboard/common/modal_user_switch_status.html' %}
  {% endif %}
</section>
<!-- /.content -->
