{% extends 'base-login.html' %}
{% block title %} Seishin JKA Dojo | Log in {% endblock %}
{% block login_box_msg %}Sign in to start your session{% endblock %}
{% block login-box-content %}
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}success{% endif %} alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
      <i class="icon fas {% if message.tags == 'error' %}fa-ban{% else %}fa-check{% endif %}"></i> {{ message }}
    </div>
  {% endfor %}
{% endif %}
<form action="{% url 'login' %}" method="post"> {% csrf_token %}
  {% if request.GET.next %}
    <input type="hidden" name="next" value="{{ request.GET.next }}">
  {% endif %}
  <div class="input-group mb-3">
    <input type="number" class="form-control" placeholder="ID number" id="id_number" name="id_number" required>
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-envelope"></span>
      </div>
    </div>
  </div>
  <div class="input-group mb-3">
    <input type="password" class="form-control" placeholder="Password" id="password" name="password" required>
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-lock"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <a href="{% url 'forgot-password' %}">Forgot password</a>
{#      <div class="icheck-primary">#}
{#        <input type="checkbox" id="remember">#}
{#        <label for="remember">#}
{#          Remember Me#}
{#        </label>#}
{#      </div>#}
    </div>
    <!-- /.col -->
    <div class="col-12">
      <button type="submit" class="btn btn-primary btn-block col-4 float-right">Sign In</button>
    </div>
    <!-- /.col -->
  </div>
</form>

{#<div class="social-auth-links text-center mb-3">#}
{#  <p>- OR -</p>#}
{#  <a href="#" class="btn btn-block btn-primary">#}
{#    <i class="fab fa-facebook mr-2"></i> Sign in using Facebook#}
{#  </a>#}
{#  <a href="#" class="btn btn-block btn-danger">#}
{#    <i class="fab fa-google-plus mr-2"></i> Sign in using Google+#}
{#  </a>#}
{#</div>#}
<!-- /.social-auth-links -->

{#<p class="mb-1">#}
{#  <a href="forgot-password.html">I forgot my password</a>#}
{#</p>#}
{#<p class="mb-0">#}
{#  <a href="{% url 'signup' %}" class="text-center">Register a new membership</a>#}
{#</p>#}
{% endblock %}
