{% extends 'base-top-nav.html' %}
{% block title %} AdminLTE 2 | Dashboard {% endblock %}
{% block content-header %}
<div class="container">
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1 class="m-0"> Top Navigation <small>Example 3.0</small></h1>
    </div><!-- /.col -->
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Layout</a></li>
        <li class="breadcrumb-item active">Top Navigation</li>
      </ol>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container-fluid -->
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="card card-primary card-outline">
        <div class="card-body">
          {% for t in trainings %}
              {% if t.status %}
              <h4>Training on {{ t.date }}</h4>
              <img class="img-fluid pad" src="{{ t.qr_image.url }}" alt="training" width="400">
              {% endif %}
            {% endfor %}
          <p class="card-text">
            Scan QR and confirm attendance
          </p>
        </div>
      </div><!-- /.card -->
    </div><!-- /.col-md-6 -->
  </div><!-- /.row -->
</div><!-- /.container-fluid -->
{% endblock %}
