{% extends 'base-top-nav.html' %}
{% load static %}
{% block title %} AdminLTE 2 | Dashboard {% endblock %}
{% block content %}
<div class="col-lg-6">
    <div class="card card-primary card-outline">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>

            <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the
                card's
                content.
            </p>
            <a class="card-link" href="#">Card link</a>
            <a class="card-link" href="#">Another link</a>
            <a class="btn btn-primary" href="#">Go somewhere</a>
        </div>
    </div><!-- /.card -->
</div>
<!-- /.col-md-6 -->
{% endblock %}
