{% extends 'dashboard/sensei/base.html' %}
{% load static %}
{% block css %}
<!-- Bootstrap4 Duallistbox -->
<link rel="stylesheet" href="{% static 'plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css' %}">
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock %}
{% block training-link-status %}active{% endblock %}
{% block dashboard_content %}
<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Manage trainings</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'sensei_dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active">Training</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- Main row -->
    <div class="row">
      <section class="col-md-5 connectedSortable">
        <div class="card card-danger">
          <div class="card-header">
            <h3 class="card-title">Schedule trainings</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <button type="button" class="btn btn-danger m-1" data-toggle="modal" data-target="#modal-new-schedule">
                New Schedule
              </button>
              <button type="button" class="btn btn-danger m-1" data-toggle="modal" data-target="#modal-new-training">
                New Training
              </button>
            </div>
            <hr>
            {% if schedules %}
            <span class="pt-2 mt-2">Active scheduling:</span>
            <table id="scheduling_table" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Day</th>
                  <th>Time</th>
                  <th>Details</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for t in schedules %}
                <tr>
                  <td>{{ t.get_day_of_week_display }}</td>
                  <td>{{ t.time }}</td>
                  <td>{{ t.details }}</td>
                        <td>
                  <form action="{% url 'manage_trainings' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group mb-0">
                      <input type="hidden" name="delete_schedule" value="{{ t.id }}">
                      <div class="d-flex">
                          <button type="submit" class="btn btn-danger btn-block btn-xs col-sm-10">
                            <i class="fas fa-trash"></i>
                          </button>
                      </div>
                    </div>
                  </form>
                        </td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                    <th>Day</th>
                    <th>Time</th>
                    <th>Details</th>
                    <th></th>
                </tr>
              </tfoot>
            </table>
            {% else %}
              <span class="pt-2 mt-2">No active scheduling<br></span>
            {% endif %}
          </div>
          <div class="card-footer">
            <form action="{% url 'manage_trainings' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="run_scheduling" value="true">
              <button type="submit" class="btn btn-danger btn-block">
                Schedule now
              </button>
            </form>
            <br><strong>Note:</strong> You can schedule trainings in advance and assign techniques to be covered.
          </div>
        </div>
      </section>

      <section class="col-md-7 connectedSortable">
        <div class="card card-danger">
          <div class="card-header">
            <h3 class="card-title">Training history</h3>
          </div>
          <div class="card-body">
            <div class="row">
            {% for t in trainings %}
              {% if t.status == 'A' %}
              <div class="col-sm-4 col-md-2">
                <h4>{{ t.date }}</h4>
              </div>
              {% endif %}
            {% endfor %}
            </div>
            <table id="trainings_table" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Status</th>
                  <th>Techniques</th>
                  <th>Details</th>
                </tr>
              </thead>
              <tbody>
              {% for t in trainings %}
                <tr>
{#                  https://docs.djangoproject.com/en/5.2/ref/templates/builtins/#date#}
                  <td>{{ t.date|date:"Y/m/d G:i (l)" }}</td>
                  <td>
                    {{ t.get_status_display }}
                  </td>
                  <td>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-list-techniques-{{ t.id }}">
                      List
                    </button>
                    {% include 'dashboard/sensei/modal_list_techniques.html' with training=t %}
                  </td>
                  <td>{{ t.details }}</td>
                </tr>
              {% endfor %}
              </tbody>
              <tfoot>
              <tr>
                <th>Date</th>
                <th>Status</th>
                <th>Techniques</th>
                <th>Details</th>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </section>
    </div>
    <!-- /.row (main row) -->
  </div><!-- /.container-fluid -->
</section>
{% include 'dashboard/sensei/modal_new_schedule.html' %}
{% include 'dashboard/sensei/modal_set_training.html' %}
<!-- /.content -->
{% endblock %}
{% block js %}
  <!-- DataTables  & Plugins -->
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
  <script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
  <script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
  <script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
  <script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
  <!-- Bootstrap4 Duallistbox -->
  <script src="{% static 'plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js' %}"></script>
  <script>
    $(function () {
      $("#scheduling_table").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
      }).buttons().container().appendTo('#scheduling_table_wrapper .col-md-6:eq(0)');

      $("#trainings_table").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print"]
      }).buttons().container().appendTo('#trainings_table_wrapper .col-md-6:eq(0)');

      $('#time_timepicker').datetimepicker({
        format: 'HH:mm'
      });
      $('#date_datetimepicker').datetimepicker({
        icons: { time: 'far fa-clock' },
        format: 'YYYY-MM-DD HH:mm'
      });

      //Bootstrap Duallistbox
      $('.duallistbox').bootstrapDualListbox();

      $('#form-new-schedule, #form-new-training').on('submit', function(e) {
          e.preventDefault();
          $.ajax({
              url: $(this).attr('action'),
              type: 'POST',
              data: $(this).serialize(),
              success: function(response) {
                  location.reload();
              },
              error: function(xhr) {
                  // Replace modal body with error messages from response
                  $('.modal-body').html($(xhr.responseText).find('.modal-body').html());
              }
          });
      });

    });
  </script>
{% endblock %}
