{% extends 'dashboard/sensei/base.html' %}
{% load static %}
{% block css %}
<!-- Bootstrap4 Duallistbox -->
<link rel="stylesheet" href="{% static 'plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css' %}">
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock %}
{% block training-menu-class%}menu-is-opening menu-open{% endblock %}
{% block training-link-status %}active{% endblock %}
{% block dashboard_content %}
<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Manage trainings</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'sensei_dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active">Training</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- Main row -->
    <div class="row">
      <section class="col-md-5 connectedSortable">
        <div class="card card-danger">
          <div class="card-header">
            <h3 class="card-title">Schedule trainings</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <button type="button" class="btn btn-danger m-1" data-toggle="modal" data-target="#modal-new-schedule">
                New Schedule
              </button>
              <button type="button" class="btn btn-danger m-1" id="btn-new-training">
                New Training
              </button>
            </div>
            <hr>
            {% if schedules %}
            <span class="pt-2 mt-2">Active scheduling:</span>
            <table id="scheduling_table" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Day</th>
                  <th>Time</th>
                  <th>Details</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for t in schedules %}
                <tr>
                  <td data-order="{{ t.day_of_week }}">{{ t.get_day_of_week_display }}</td>
                  <td>{{ t.time }}</td>
                  <td>{{ t.details }}</td>
                        <td>
                  <form action="{% url 'manage_trainings' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group mb-0">
                      <input type="hidden" name="delete_schedule" value="{{ t.id }}">
                      <div class="d-flex">
                          <button type="submit" class="btn btn-danger btn-block btn-xs col-sm-10">
                            <i class="fas fa-trash"></i>
                          </button>
                      </div>
                    </div>
                  </form>
                        </td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                    <th>Day</th>
                    <th>Time</th>
                    <th>Details</th>
                    <th></th>
                </tr>
              </tfoot>
            </table>
            {% else %}
              <span class="pt-2 mt-2">No active scheduling<br></span>
            {% endif %}
          </div>
          <div class="card-footer">
            <form action="{% url 'manage_trainings' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="run_scheduling" value="true">
              <button type="submit" class="btn btn-danger btn-block">
                Schedule now
              </button>
            </form>
            <br><strong>Note:</strong> You can schedule trainings in advance and assign techniques to be covered.
          </div>
        </div>
      </section>

      <section class="col-md-7 connectedSortable">
        <div class="card card-danger">
          <div class="card-header">
            <h3 class="card-title">Training history</h3>
          </div>
          <div class="card-body">
            <div class="row">
            {% for t in trainings %}
              {% if t.status == 'A' %}
              <div class="col-sm-4 col-md-2">
                <h4>{{ t.date }}</h4>
              </div>
              {% endif %}
            {% endfor %}
            </div>
            <table id="trainings_table" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Status</th>
                  <th>Details</th>
                  <th>Attendance</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              {% for t in trainings %}
                <tr>
{#                  https://docs.djangoproject.com/en/5.2/ref/templates/builtins/#date#}
                  <td>
                    <button type="button" class="btn btn-link p-0 text-left btn-edit-training"
                        data-training-id="{{ t.id }}"
                        data-training-date="{{ t.date|date:'Y-m-d H:i' }}"
                        data-training-duration="{{ t.duration.total_seconds|floatformat:0 }}"
                        data-training-type="{{ t.type }}"
                        data-training-status="{{ t.status }}"
                        data-training-sempai="{{ t.sempai_id|default:'' }}"
                        data-training-techniques="{% for tech in t.techniques.all %}{{ tech.id }}{% if not forloop.last %},{% endif %}{% endfor %}"
                        data-training-katas="{% for k in t.katas.all %}{{ k.id }}{% if not forloop.last %},{% endif %}{% endfor %}"
                        data-training-kumites="{% for k in t.kumites.all %}{{ k.id }}{% if not forloop.last %},{% endif %}{% endfor %}"
                        data-training-details="{{ t.details|default:''|escapejs }}">
                      {{ t.date|date:"Y/m/d G:i (l)" }}
                    </button>
                  </td>
                  <td>
                    {{ t.get_status_display }}
                  </td>
                  <td>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-list-details-{{ t.id }}">
                      List
                    </button>
                    {% include 'dashboard/sensei/modal_list_details.html' with training=t %}
                  </td>
                  <td>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-list-students-{{ t.id }}">
                      List
                    </button>
                    {% include 'dashboard/sensei/modal_list_students.html' with training=t %}
                  </td>
                  <td>
                    <div class="d-flex">
                      <form action="{% url 'manage_trainings' %}" method="post" class="mr-1">
                        {% csrf_token %}
                        <input type="hidden" name="finish_training" value="{{ t.id }}">
                        <button type="submit" class="btn btn-success btn-xs" title="Finish">
                          <i class="fas fa-check-circle"></i>
                        </button>
                      </form>
                      <form action="{% url 'manage_trainings' %}" method="post" class="mr-1">
                        {% csrf_token %}
                        <input type="hidden" name="cancel_training" value="{{ t.id }}">
                        <button type="submit" class="btn btn-warning btn-xs" title="Cancel">
                          <i class="fas fa-ban"></i>
                        </button>
                      </form>
                      <form action="{% url 'manage_trainings' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="delete_training" value="{{ t.id }}">
                        <button type="submit" class="btn btn-danger btn-xs" title="Delete">
                          <i class="fas fa-trash"></i>
                        </button>
                      </form>
                    </div>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
              <tfoot>
              <tr>
                <th>Date</th>
                <th>Status</th>
                <th>Techniques</th>
                <th>Details</th>
                <th></th>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </section>
    </div>
    <!-- /.row (main row) -->
  </div><!-- /.container-fluid -->
</section>
{% include 'dashboard/sensei/modal_new_schedule.html' %}
{% include 'dashboard/sensei/modal_set_training.html' %}
<!-- /.content -->
{% endblock %}
{% block js %}
  <!-- DataTables  & Plugins -->
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
  <script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
  <script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
  <script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
  <script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
  <!-- Bootstrap4 Duallistbox -->
  <script src="{% static 'plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js' %}"></script>
  <script>
    $(function () {
      //Timepicker
      $('#duration_timepicker').datetimepicker({
        format: 'HH:mm'
      })
      $("#scheduling_table").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "order": [[0, "asc"]],
      }).buttons().container().appendTo('#scheduling_table_wrapper .col-md-6:eq(0)');

      $("#trainings_table").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print"],
        "order": [[0, "desc"]],
      }).buttons().container().appendTo('#trainings_table_wrapper .col-md-6:eq(0)');

      $('#time_timepicker').datetimepicker({
        format: 'HH:mm'
      });
      $('#date_datetimepicker').datetimepicker({
        icons: { time: 'far fa-clock' },
        format: 'YYYY-MM-DD HH:mm'
      });

      //Bootstrap Duallistbox
      $('.duallistbox').bootstrapDualListbox();

      $('#form-new-schedule, #form-new-training').on('submit', function(e) {
          e.preventDefault();
          $.ajax({
              url: $(this).attr('action'),
              type: 'POST',
              data: $(this).serialize(),
              success: function(response) {
                  location.reload();
              },
              error: function(xhr) {
                  // Replace modal body with error messages from response
                  $('.modal-body').html($(xhr.responseText).find('.modal-body').html());
              }
          });
      });

      // New Training button — reset modal to create mode
      $('#btn-new-training').on('click', function() {
          $('[name="action"]').val('new_training');
          $('#training-id-input').val('');
          $('#modalNewTrainingLabel').text('Create training');
          $('#id_date').val('');
          $('#id_duration').val('');
          $('#id_type').val($('#id_type option:first').val());
          $('#id_status').val($('#id_status option:first').val());
          $('#id_sempai').val('');
          $('#id_details').val('');
          $('#id_techniques').val([]);
          $('#id_katas').val([]);
          $('#id_kumites').val([]);
          $('.duallistbox').bootstrapDualListbox('refresh', true);
          $('#modal-new-training').modal('show');
      });

      // Edit Training — click on date in table
      $(document).on('click', '.btn-edit-training', function() {
          var btn = $(this);
          var trainingDate = btn.data('training-date');
          var durationSecs = parseInt(btn.data('training-duration')) || 0;
          var durationH = Math.floor(durationSecs / 3600);
          var durationM = Math.floor((durationSecs % 3600) / 60);
          var durationStr = String(durationH).padStart(2, '0') + ':' + String(durationM).padStart(2, '0');
          var techniques = btn.data('training-techniques') ? String(btn.data('training-techniques')).split(',') : [];
          var katas = btn.data('training-katas') ? String(btn.data('training-katas')).split(',') : [];
          var kumites = btn.data('training-kumites') ? String(btn.data('training-kumites')).split(',') : [];

          $('[name="action"]').val('update_training');
          $('#training-id-input').val(btn.data('training-id'));
          $('#modalNewTrainingLabel').text('Edit training — ' + trainingDate);

          $('#id_date').val(trainingDate);
          $('#date_datetimepicker').datetimepicker('date', moment(trainingDate, 'YYYY-MM-DD HH:mm'));

          $('#id_duration').val(durationStr);
          $('#duration_timepicker').datetimepicker('date', moment(durationStr, 'HH:mm'));

          $('#id_type').val(btn.data('training-type'));
          $('#id_status').val(btn.data('training-status'));
          $('#id_sempai').val(btn.data('training-sempai') || '');
          $('#id_details').val(btn.data('training-details') || '');

          $('#id_techniques').val(techniques);
          $('#id_katas').val(katas);
          $('#id_kumites').val(kumites);
          $('.duallistbox').bootstrapDualListbox('refresh', true);

          $('#modal-new-training').modal('show');
      });

    });
  </script>
{% endblock %}
