{% extends 'dashboard/sensei/base.html' %}
{% block students-link-status %}active{% endblock %}
{% load static %}
{% block title %} Profile {% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'dist/css/custom_style.css' %}">
  <!-- Country picker flags -->
  <link rel="stylesheet" href="{% static 'plugins/bootstrap-select-country-4.2.0/css/bootstrap-select-country.min.css' %}">
  <!-- Cropper.js -->
  <link href="{% static 'plugins/cropperjs-v1.6.2/css/cropper.min.css' %}" rel="stylesheet">
{% endblock %}
{% block dashboard_content %}
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Profile</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Profile</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  {% include 'dashboard/common/profile.html' %}
{% endblock %}
{% block script %}
  <!-- Country picker flags -->
  <script src="{% static 'plugins/bootstrap-select-country-4.2.0/js/bootstrap-select-country.min.js' %}"></script>
  <!-- Cropper.js -->
  <script src="{% static 'plugins/cropperjs-v1.6.2/js/cropper.min.js' %}" rel="stylesheet"></script>
  <!-- Custom JS for modal and crop -->
  <script src="{% static 'dist/js/custom.js' %}" rel="stylesheet"></script>
  <script>
      $(document).ready(function () {
          $('#id_birth_date').datetimepicker({
              format: 'L',
              //locale: 'es'
          });

          $('.countrypicker').countrypicker();
      });
  </script>
{% endblock %}
