{% extends 'dashboard/sensei/base.html' %}
{% block students-link-status %}active{% endblock %}
{% load static %}
{% block title %} Profile {% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'dist/css/custom_style.css' %}">
<!-- Country picker flags -->
<link rel="stylesheet" href="{% static 'plugins/bootstrap-select-country-4.2.0/css/bootstrap-select-country.min.css' %}">
{% endblock %}
{% block dashboard_content %}
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Profile</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Profile</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  {% include 'dashboard/common/profile.html' %}
{% endblock %}
{% block script %}
  <!-- jQuery -->
  <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
  <!-- For datepicker -->
<script src="{% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
  <!-- Country picker flags -->
<script src="{% static 'plugins/bootstrap-select-country-4.2.0/js/bootstrap-select-country.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#id_birth_date').datetimepicker({
            format: 'L',
            locale: 'es'
        });
        var val = birthPicker.find('input').val();
        if (val) {
            birthPicker.datetimepicker('date', moment(val, 'MM/DD/YYYY'));
        }

        $('.countrypicker').countrypicker();
    });
</script>
{% endblock %}
