{% extends 'dashboard/student/dashboard.html' %}
{% block title %}Seishin Dojo JKA | Series{% endblock %}
{% block content %}
<div class="content-header">
  <div class="container py-3">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="mb-2 text-bold">Kata Series</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'landing' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'library' %}">Library</a></li>
          <li class="breadcrumb-item active">Series</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<div class="content">
  <div class="container">
    <div class="row">
      {% for serie in series %}
      <div class="col-md-6">
        <div class="card card-outline card-danger">
          <div class="card-header">
            <h3 class="card-title"><b>{{ serie.name }}</b></h3>
          </div>
          <div class="card-body">
            {% if serie.image %}
              <img src="{{ serie.image.url }}" class="img-fluid mb-3" alt="Imagen de la serie">
            {% endif %}
            <p>{{ serie.description }}</p>

            <h5>📝 Cursos en esta serie:</h5>
            {% for kata in serie.katas.all %}
            <div id="accordion">
              <div class="card card-danger">
                <div class="card-header">
                  <h4 class="card-title w-100">
                    <a class="d-block w-100" data-toggle="collapse" href="#kata-{{ kata.id }}">
                      {{ kata.name }}
                    </a>
                  </h4>
                </div>
                <div id="kata-{{ kata.id }}" class="collapse" data-parent="#accordion">
                  <div class="card-body">
                    <ol>
                      <li>
                        <a href="{% url 'kata_detail' kata.id %}">Información básica de la kata</a><br>
                      </li>
                      {% for lesson in kata.lessons.all %}
                      <li>
                        <a href="{% url 'kata_lesson_detail' lesson.id %}">{{ lesson.title }}</a><br>
                      </li>
                      {% empty %}
                      <p>No hay lecciones registradas aún.</p>
                      {% endfor %}
                    </ol>
                  </div>
                </div>
              </div>
            </div>
            {% empty %}
            <li class="list-group-item">No hay cursos registrados aún.</li>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- /.content -->
{% endblock %}
