{% extends 'dashboard/student/dashboard.html' %}
{% block title %}Seishin Dojo JKA | Library{% endblock %}
{% block content %}
<div class="content-header">
  <div class="container py-3">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="mb-2 text-bold">Techniques</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a href="
            {% if user.is_authenticated %}
              {% if user.is_staff %}
                {% url 'sensei_dashboard' %}
              {% else %}
                {% url 'student_dashboard' %}
              {% endif %}
            {% else %}
              {% url 'landing' %}
            {% endif %}">Home</a>
          </li>
          <li class="breadcrumb-item"><a href="{% url 'library' %}">Library</a></li>
          <li class="breadcrumb-item active">Techniques</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<div class="content">
  <div class="container">
    <div class="row">
      {% include 'dashboard/common/technique_list.html' %}
    </div>
  </div>
</div>
<!-- /.content -->
{% endblock %}
